[rails]
localhost

[rails:vars]
repo=git@github.com:who/sample.git
project=sample
db_password=hogehoge
typetalk_notify=true
typetalk_client_id=abcdefghijklmnopqrstuvwxyz123456
typetalk_client_secret=abcdefghijklmnopqrstuvwxyz123456789abcdefghijklmnopqrstuvwxyz123
typetalk_topic=1234
