#!/usr/bin/env ruby

require 'net/http'
require 'json'

host_name = `hostname`.chomp
project = '{{ project }}'
commit = `git log --pretty=format:"<%h> %s" | head -1`.chomp

message = "( ´∀`)b #{host_name} に #{project} がデプロイされたよ!"
message += "\n```\n#{commit}\n```"

uri = URI 'http://{{ hubot_host }}/say?room={{ hubot_room }}'
http = Net::HTTP.new uri.host, uri.port
request = Net::HTTP::Post.new uri, 'content-type' => 'application/json; charset=utf-8'
request.body = { message: message }.to_json
response = http.request request

if response.code == '200'
  exit 0
else
  exit 1
end
